@use '../../lib/service.scss' as s;

.form {
	display: flex;
	flex-direction: column;
	padding: s.space(4);
	gap: s.space(8);


	&__title {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: s.space(1);
        border-bottom: 1px solid s.color('light');
	}
	&__content {
		display: grid;
		gap: s.space(6);
	}
	&__field {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
	}
	&__label {
		font-size: 14px;
	}
	&__input {
		border: 1px solid s.color('light');
		padding: s.space(2);
	}
	&__button {
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: 20px;
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
}

.user-list {
	li {
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product {
	display: flex;
	flex-direction: column;
	padding: 40px;
	gap: 50px;
	

	
	&__title {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 20px;
        color: blue;
		padding-left: 20%;
		
}
    &__card {
		border: 1px ;
		
		display: flex;
		flex-direction: column;
		padding-left: 20%;
		gap: 10px;
	}
    
	&__field {
	//    display: flex;
	//    flex-direction: column;
		gap: 10px;
			}

 

      &__input {
	        border: 1px solid;
	     padding: 10px;
	
}
      &__button {
	    border: 1px solid;
		color: blue;
	     padding: 10px;
		size: 10px;
	    background-color: 'text-bg-light';
}
}