@use '../../lib/service.scss' as s;

	
	.card {
		border: 2px solid s.color('light');
		border-radius: s.space(5);
		padding: s.space(5);
		box-shadow: 5px 5px 5px 2px s.color('light');
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
    .btn {
		border: 1px, solid s.color('light');
		padding: s.space(2) s.space(10);
		border-radius: s.space(2);
	   color: white;
	   background-color: rgb(32, 116, 194);
	   text-decoration: none;	
}

.btn :hover {
	color: blue;
}


main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
}

.user-list {
	li {
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}